  <h4>
    Email Address&nbsp;
    <span id="verified">(Verified)</span>
    <a class="editstyle text-right" data-toggle="modal" href="#change-email"><i class="fa fa-edit large ic"></i>Edit</a>
  </h4>
  <div class="fieldcontainer">
    <input class="namefield field-box field" type="text" name="email" required tabindex="1" value="<%= current_user.email %>" disabled>
  </div>
  
