|
	$('.modal').modal("hide");
	$(".flash_messages").append("#{j render(partial: 'shared/flash_messages')}");
	setTimeout(function(){
	  $(".flash_msg").remove();
	}, 5000);
	$('#educations-list').html("#{escape_javascript(render 'educations', educations: @user.educations)}");