|
	$('.modal').modal("hide");
	$(".flash_messages").append("#{j render(partial: 'shared/flash_messages')}");
	setTimeout(function(){
	  $(".flash_msg").remove();
	}, 5000);
	$('#employments-list').html("#{escape_javascript(render 'employments', employments: @user.employments)}");