|
	// $('.namefield').attr('disabled', 'disabled');
	// $('.edit').show(); $('.save').hide();
	$(".flash_messages").append("#{j render(:partial => 'shared/flash_messages')}");
	setTimeout(function(){
	  $(".flash_msg").remove();
	}, 5000);