<!--================================= banner -->
<section class="inner-intro bg bg-fixed bg-overlay-black-70" style="background-image:url(assets/bg/bg-2.jpg);">
  <div class="container">
    <div class="row intro-title text-center">
      <div class="col-sm-12">
        <div class="section-title">
          <h1 class="title text-white">About</h1>
        </div>
      </div>
      <div class="col-sm-12">
        <ul class="page-breadcrumb">
          <li><a href="index.html"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
          <li><a href="about-1.html">pages</a> <i class="fa fa-angle-double-right"></i></li>
          <li><span>About</span> </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--================================= banner -->

<section class="action-box small yellow-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 text-left">
        <h4>Contractors &amp; Construction Managers Since 1989.</h4>
      </div>
      <div class="col-sm-4 text-right text-xs-left">
        <a href="#" class="button border animated middle-fill">
          <span>GET A QUOTE</span>
        </a>
      </div>
    </div>
  </div>
</section>

<!--================================= Page Section -->
<section class="page-section-pt">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title text-center">
          <h2 class="title">Services we Provide</h2>
          <p>Construction Project Management (CPM) is the overall planning, coordination, and control of a project from beginning to completion. CPM is aimed at meeting a client's requirement in order to produce a functionally and financially viable project.</p>
        </div>
      </div>
      <div class="col-sm-12 text-center">
        <img class="img-responsive" style="display:inline;" src="assets/about/about-img1.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="dark-bg page-section-ptb bg fixed text-white gradient-overlay counter-section pb-60" style="background-image:url(assets/bg/bg-6.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mb-20">
        <div class="section-title">
          <h2 class="title title2">The Best <label>Compnay</label> Ever</h2>
        </div>
        <p>CPM is the overall planning, coordination, and control of a project from beginning to completion. CPM is aimed at meeting a client's requirement in order to produce a functionally and financially viable project.</p>
        <a href="#" class="button animated border transparent middle-fill mt-10"><span>Read More</span></a>
      </div>
      <div class="col-sm-6 mb-20">
        <div class="counter-block pt-20">
          <div class="col-sm-6 col-xs-6 col-xx-12 mb-40">
            <div class="counter left_icn">
              <i class="glyph-icon flaticon-projection-screen-with-bar-chart"></i>
              <span class="timer" data-to="1520" data-speed="10000"></span>
              <label>Projects</label>
            </div>
          </div>
          <div class="col-sm-6 col-xs-6 col-xx-12 mb-40">
            <div class="counter left_icn">
              <i class="glyph-icon flaticon-management"></i>
              <span class="timer" data-to="900" data-speed="10000"></span>
              <label>Projects</label>
            </div>
          </div>
          <div class="col-sm-6 col-xs-6 col-xx-12">
            <div class="counter left_icn">
              <i class="glyph-icon flaticon-trophy"></i>
              <span class="timer" data-to="3500" data-speed="10000"></span>
              <label>Projects</label>
            </div>
          </div>
          <div class="col-sm-6 col-xs-6 col-xx-12">
            <div class="counter left_icn">
              <i class="glyph-icon flaticon-like"></i>
              <span class="timer" data-to="2100" data-speed="10000"></span>
              <label>Projects</label>
            </div>
          </div>
        </div> 
      </div> 
    </div>
  </div>
</section>

<section class="page-section-ptb pb-50">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-30">
        <img class="img-responsive" src="assets/about/03.jpg" alt="">
      </div>
      <div class="col-md-6">
        <div class="section-title">
          <h2 class="title">CEO Says</h2>
        </div>
        <h4 class="text-uppercase clearfix">
          <label class="text-yellow">
            <strong>Mukul Goel -</strong>
          </label>
          [CEO]
        </h4>
        <p>
          Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          <br><br>
          When an unknown printer took a galley of Eiusmod tempor incididunt ut labore et dolore Ut enim ad minim veniam quis nostrud.
        </p>
        <div class="text-right">
          <img width="130" class="img-responsive pull-right" src="assets/sign.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section-ptb dark-bg bg fixed gradient-overlay text-white" style="background-image:url(assets/bg/bg-11.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title text-center">
          <h2 class="title">Services we Provide</h2>
          <p>The overall planning, coordination, and control of a project from beginning to completion. CPM is aimed at meeting a client's Construction Project Management (CPM) is requirement in order to produce a functionally and financially viable project.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 pb-30">
        <div class="owl-carousel" data-nav-dots="true" data-items="4" data-xs-items="2">
          <div class="item">
            <div class="team">
              <div class="team-images">
                <img class="img-responsive" src="assets/team/team1.png" alt="">
              </div>
              <div class="team-description">
                <h4><a href="#">Prashant</a></h4>
                <span>Site Supervisor</span>
              </div>
              <div class="team-social-icon social-icons border color-hover">
                <ul>
                  <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  <li class="social-behance"><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="team">
              <div class="team-images">
                <img class="img-responsive" src="assets/team/team2.png" alt="">
              </div>
              <div class="team-description">
                <h4><a href="#">Shiv</a></h4>
                <span>Civil Engineer</span>
              </div>
              <div class="team-social-icon social-icons border color-hover">
                <ul>
                  <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  <li class="social-behance"><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="team">
              <div class="team-images">
                <img class="img-responsive" src="assets/team/team3.png" alt="">
              </div>
              <div class="team-description">
                <h4><a href="#">Gaurav</a></h4>
                <span>Finance Officer</span>
              </div>
              <div class="team-social-icon social-icons border color-hover">
                <ul>
                  <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  <li class="social-behance"><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="team">
              <div class="team-images">
                <img class="img-responsive" src="assets/team/team4.png" alt="">
              </div>
              <div class="team-description">
                <h4><a href="#">Durgesh</a></h4>
                <span>Safety Officer</span>
              </div>
              <div class="team-social-icon social-icons border color-hover">
                <ul>
                  <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  <li class="social-behance"><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="team">
              <div class="team-images">
                <img class="img-responsive" src="assets/team/team1.png" alt="">
              </div>
              <div class="team-description">
                <h4><a href="#">Amol</a></h4>
                <span>Project Menager</span>
              </div>
              <div class="team-social-icon social-icons border color-hover">
                <ul>
                  <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  <li class="social-behance"><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="team">
              <div class="team-images">
                <img class="img-responsive" src="assets/team/team2.png" alt="">
              </div>
              <div class="team-description">
                <h4><a href="#">Mukul</a></h4>
                <span>Innovation Officer</span>
              </div>
              <div class="team-social-icon social-icons border color-hover">
                <ul>
                  <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  <li class="social-behance"><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section-ptb4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="our-clients white-bg boxed-list owl-carousel"  data-nav-arrow="true" data-items="5" data-md-items="4" data-sm-items="3" data-xs-items="2">
          <div class="item">
            <a href="#">
              <img class="img-responsive center-block" src="assets/clients/01.png" alt="">
            </a>
          </div>
          <div class="item"><a href="#"><img class="img-responsive center-block" src="assets/clients/02.png" alt=""></a></div>
          <div class="item"><a href="#"><img class="img-responsive center-block" src="assets/clients/03.png" alt=""></a></div>
          <div class="item"><a href="#"><img class="img-responsive center-block" src="assets/clients/04.png" alt=""></a></div>
          <div class="item"><a href="#"><img class="img-responsive center-block" src="assets/clients/05.png" alt=""></a></div>
          <div class="item"><a href="#"><img class="img-responsive center-block" src="assets/clients/01.png" alt=""></a></div>
          <div class="item"><a href="#"><img class="img-responsive center-block" src="assets/clients/02.png" alt=""></a></div>
          <div class="item"><a href="#"><img class="img-responsive center-block" src="assets/clients/03.png" alt=""></a></div>
          <div class="item"><a href="#"><img class="img-responsive center-block" src="assets/clients/04.png" alt=""></a></div>
          <div class="item"><a href="#"><img class="img-responsive center-block" src="assets/clients/05.png" alt=""></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================================= page-section -->