<!--================================= banner -->
<section class="inner-intro bg bg-fixed bg-overlay-black-70" style="background-image:url(assets/bg/bg-2.jpg);">
  <div class="container">
    <div class="row intro-title text-center">
      <div class="col-sm-12">
				<div class="section-title">
          <h1 class="title text-white">Services</h1>
        </div>
      </div>
      <div class="col-sm-12">
        <ul class="page-breadcrumb">
          <li><a href="index.html"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
          <li><a href="services-1.html">pages</a> <i class="fa fa-angle-double-right"></i></li>
          <li><span>Services</span> </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--================================= banner -->

<!--================================= Page Section -->
<section class="our-sercive page-section-ptb  pb-50">
  <div class="container">
  	<div class="row">
      <div class="col-md-6 col-sm-12 mb-30">
        <img alt="" src="assets/about/03.jpg" class="img-responsive">
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="content-block pl-10">
        	<div class="section-title">
            <h2 class="title">We are creating Your dream</h2>
          </div>
          <p>We are creating Your dream the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <br>
          <ul class="list-mark">
  				  <li>Simply dummy text of the printing and typesetting industry text ever since.</li>
            <li>It has survived not only five centuries, but also the leap into electronic typesetting.</li>
            <li>Sed quia non numquam eius modi tempora incidunt ut dolore magnam aliquam</li>
            <li>Coordination, and control of a project from beginning to completion.</li>
  		    </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="dark-bg pattern-overlay fixed pattern-2 text-white">
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div class="col-md-6 col-sm-12">
        <div class="services-block pb-30 clearfix">
          <div class="col-sm-12">
            <div class="section-title">
              <h2 class="title">Our Services</h2>
              <br>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="feature-box left_pos small">
		          <i class="glyph-icon flaticon-construction-14"></i>
              <h3 class="title">Project Evaluation</h3>
		          <p>When an unknown printer took a galley of type and scrambled ype specimen book.</p>
		        </div>
          </div>
          <div class="col-sm-6">
            <div class="feature-box left_pos small">
		          <i class="glyph-icon flaticon-construction-34"></i>
              <h3 class="title">Virtual Construction</h3>
              <p>Eiusmod tempor incididunt ut labore et dolore Ut enim ad minim veniam quis nostrud.</p>
		        </div>
          </div>
          <div class="col-sm-6">
            <div class="feature-box left_pos small">
              <i class="glyph-icon flaticon-drawing"></i>
              <h3 class="title">Value Engineering</h3>
              <p>It has survived not only five centuries, but also the leap into electronic typesetting.</p>
		        </div>
          </div>
          <div class="col-sm-6">
            <div class="feature-box left_pos small">
              <i class="glyph-icon flaticon-drawing-1"></i>
              <h3 class="title">Constructability Review</h3>
              <p>Remaining essentially unchanged. It was popularised in the 1960s with the release.</p>
		        </div>
          </div>
          <div class="col-sm-6">
            <div class="feature-box left_pos small">
              <i class="glyph-icon flaticon-construction-14"></i>
              <h3 class="title">Cost Control</h3>
              <p>Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing.</p>
		        </div>
          </div>
          <div class="col-sm-6">
            <div class="feature-box left_pos small">
              <i class="glyph-icon flaticon-construction-34"></i>
		          <h3 class="title">Scheduling</h3>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece.</p>
		        </div>
          </div>
        </div>
      </div>
      <div style="background-image:url(assets/bg/bg-14.jpg); background-repeat:no-repeat; background-size:cover;" class="col-md-6"></div>
    </div>
  </div>
</section>

<section class="page-section-ptb pb-50">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title text-center">
        	<h2 class="title">What we Offer</h2>
          <p>Construction Project Management (CPM) is the overall planning, coordination, and control of a project from beginning to completion. CPM is aimed at meeting a client's requirement in order to produce a functionally and financially viable project.</p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="tab tab-light clearfix"> 
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#home3" data-toggle="tab"><i class="glyph-icon flaticon-buildings-1"></i><span>Tiling & Printing</span></a></li>
            <li><a href="#profile3" data-toggle="tab"><i class="glyph-icon flaticon-construction-14"></i><span>Revolution</span></a></li>
            <li><a href="#messages3" data-toggle="tab"><i class="glyph-icon flaticon-people"></i><span>Consulting</span></a></li>
            <li><a href="#settings3" data-toggle="tab"><i class="glyph-icon flaticon-fax-1"></i><span>Printing</span></a></li>
            <li><a href="#design3" data-toggle="tab"><i class="glyph-icon flaticon-drawing"></i><span>Design and Build</span></a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home3">
              <img class="img-responsive img-left" src="assets/tab/2.png" alt="">
              <h3 class="title mb-20">Tiling & Printing</h3>
              <p><strong>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using letters.</strong><br></p>
              <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting. <br></p>
              <p>It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              <ul class="list list-unstyled mt-20">
                <li><i class="fa fa-check"></i> The printing lorem ipsum is simply dummy text of and typesetting industry.</li>
                <li><i class="fa fa-check"></i> It has survived not only five centuries, but also the leap into electronic typesetting.</li>
                <li><i class="fa fa-check"></i> Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam</li>
                <li><i class="fa fa-check"></i> Coordination, and control of a project from beginning to completion.</li>
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile3">
              <img class="img-responsive img-left" src="assets/tab/3.png" alt="">
              <h3 class="title mb-10">Revolution</h3>
              <p><strong>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search still in their infancy.</strong><br></p>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.<br></p>
              <p>It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              <ul class="list list-unstyled mt-20">
                <li><i class="fa fa-check"></i> The wise man therefore always holds in these matters to this principle of selection.</li>
                <li><i class="fa fa-check"></i> It has survived not only five centuries, but also the leap into electronic typesetting.</li>
                <li><i class="fa fa-check"></i> Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam</li>
                <li><i class="fa fa-check"></i> Coordination, and control of a project from beginning to completion.</li>
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="messages3">
              <h3 class="title mb-10">Consulting</h3>
              <p><strong>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</strong><br></p>
              <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.<br></p>
              <p>It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              <ul class="list list-unstyled">
                <li><i class="fa fa-check"></i> If you are going to use a passage of Lorem Ipsum, you need to be sure.</li>
                <li><i class="fa fa-check"></i> It has survived not only five centuries, but also the leap into electronic typesetting.</li>
                <li><i class="fa fa-check"></i> Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam</li>
                <li><i class="fa fa-check"></i> Coordination, and control of a project from beginning to completion.</li>
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="settings3">
              <h3 class="title mb-10">Printing</h3>
              <p><strong>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</strong><br></p>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.<br></p>
              <p>sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              <ul class="list list-unstyled">
                <li><i class="fa fa-check"></i> When our power of choice is untrammelled and when nothing prevents our being.</li>
                <li><i class="fa fa-check"></i> It has survived not only five centuries, but also the leap into electronic typesetting.</li>
                <li><i class="fa fa-check"></i> Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam</li>
                <li><i class="fa fa-check"></i> Coordination, and control of a project from beginning to completion.</li>
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="design3">
              <img class="img-responsive img-left" src="assets/tab/4.png" alt="">
              <h3 class="title mb-10">Design and Build</h3>
              <p><strong>I will give you a complete account of the system and expound the actual teachings of the great explorer of the truth, the master-builder human happiness.</strong><br></p>
              <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it.<br></p>
              <p>It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              <ul class="list list-unstyled">
                <li><i class="fa fa-check"></i> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit.</li>
                <li><i class="fa fa-check"></i> It has survived not only five centuries, but also the leap into electronic typesetting.</li>
                <li><i class="fa fa-check"></i> Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam</li>
                <li><i class="fa fa-check"></i> Coordination, and control of a project from beginning to completion.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================================= page-section -->

<section class="action-box small yellow-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 text-left">
        <h4>Contractors &amp; Construction Managers Since 1989.</h4>
      </div>
      <div class="col-sm-4 text-right text-xs-left">
        <a href="#" class="button border animated middle-fill">
          <span>GET A QUOTE</span>
        </a>
      </div>
    </div>
  </div>
</section>