<div class="path-fixed">
  <div class="container">
    <div class="row pb-10">
      <div class="col-md-4 pt-1">
        <a href="/" class="btn btn-default2 text-uppercase"><span class="fa fa-chevron-left"></span> Continue Shopping</a>
      </div>
      <div class="col-md-4 pt-1 text-center">
        <h1 class="text-center"><i class="fa fa-shopping-cart"></i> My Enquiry</h1>
      </div>
      <% if current_cart.cart_items.present? %>
        <div class="col-md-4 d-flex justify-content-end align-items-center">
          <a href="javascript:void(0);" class="btn btn-default2 text-uppercase review-enquiry">Review Enquiries</a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container pt-110 pb-40">
  <% if current_cart.cart_items.present? %>
    <!-- <div class="card-body">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2"><h4>Rate</h4></div>
        <div class="col-md-3"><h4>QTY</h4></div>
        <div class="col-md-2"><h4>Subtotal</h4></div>
        <div class="col-md-2"></div>
      </div>
    </div> -->
    <!-- <h4 style="padding-left: 486px;">Price</h4> -->
    <div class="card shopping-cart">
      <div class="card-body">
        <% current_cart.cart_items.order("created_at desc").each do |cart_item| %>
          <div id="cart_item_<%= cart_item.id %>">
            <%= render "cart_item", item: cart_item %>
          </div>
        <% end %>
        <div>
          <div class="row">
            <div class="col-md-4 offset-8" id="cart_subtotal">
              <%= render "cart_subtotal" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div>
      <h3 class="text-center">Your Cart is empty</h3>
    </div>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
  function decrease_qty(cart_item_id){
    var quantity = parseInt($("form#edit_cart_item_"+cart_item_id+" #cart_item_quantity").val());
    var new_quantity = quantity - 1;
    if (new_quantity <= 1){
      new_quantity = 1;
    }
    $("form#edit_cart_item_"+cart_item_id+" #cart_item_quantity").val(new_quantity);
    $("form#edit_cart_item_"+cart_item_id).submit();
  }
  function increase_qty(cart_item_id){
    var quantity = parseInt($("form#edit_cart_item_"+cart_item_id+" #cart_item_quantity").val());
    var new_quantity = quantity + 1;
    $("form#edit_cart_item_"+cart_item_id+" #cart_item_quantity").val(new_quantity);
    $("form#edit_cart_item_"+cart_item_id).submit();
  }
  // $(".comment_field").on('input', function() {
    // $(this).parents('form:first').submit();
  // });
  // $(".doc_field").on('change', function() {
  // $(".doc_field").on('change', function() {

    // $(this).attr('disabled', true);
    // alert("ass");
    // $(this).parents('form:first').submit();

    // var ddd = $(this).attr("data-cart-item-id");
    // alert(ddd);
  // });

  function submit_item_form(cart_item_id){
    var quantity = $("form#edit_cart_item_"+cart_item_id+" #cart_item_quantity").val();
    if (quantity >= 1){
      setTimeout(function(){
        $("form#edit_cart_item_"+cart_item_id).submit();
      }, 3000);
    }
    else{
      // $("form#edit_cart_item_"+cart_item_id+" #cart_item_quantity").val(1);
      alert("Quantity should be min 1");
    }
  }

  function submit_item_doc_form(cart_item_id){
    $("form#item_doc_form_"+cart_item_id).submit();
  }

  function submit_item_comment_form(cart_item_id){
    $("form#item_comment_form_"+cart_item_id).submit();
  }

  $(".review-enquiry").click(function(){
    var redirect = true;
    $(".quantity-box").each(function(){
      var quantity = $(this).val();
      if (quantity >= 1){
      }
      else{
        $(this).focus();
        alert("Quantity should be min 1");
        redirect = false;
      }
    });
    if (redirect == true){
      window.location="<%= cart_review_path(current_cart) %>";
    }
  });



</script>

<style type="text/css">
  .btn-outline-danger, .btn-outline-default{padding: 0.375rem 0.75rem;}
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
  }
  input[type=number] {
    -moz-appearance:textfield;
  }
  .size_block
  {
    min-width: 289px;
    max-width: 290px;
  }
  .btn-qty{border:1px solid; border-radius:50%; padding:5px !important;}
  .file-upload input{display:none;}
  .file-upload label{padding:1px 5px;}
</style>


<script type="text/javascript">


    function add_more(cart_item_id){
      var form_id = "item_doc_form_"+cart_item_id;
      // var cart_item_id = $(this).parents('form:first').attr("data-id");
      // alert(form_id);
      var n = $('.text-box-'+cart_item_id).length;
      if (n >= 2){
        $("#"+form_id+" .add-box").hide();
      }
      var box_html = $('<div class="row text-box-'+cart_item_id+'"><div class="col-md-4 file-upload"><input class="form-control doc_field" onchange="submit_item_doc_form('+cart_item_id+');" type="file" name="cart_item[documents_attributes]['+n+'][doc]" id="cart_item_documents_attributes_'+n+'_doc"><label class="btn btn-default" for="cart_item_documents_attributes_'+n+'_doc" data-toggle="tooltip" title="You may upload any documents such as word, excel, PDF, video, images related to your requirement.">File Upload</label></div><div class="col-md-4 doc-file-name"></div></div>');
      box_html.hide();
      $("form#"+form_id+" div.text-box-"+cart_item_id+":last").after(box_html);
      box_html.fadeIn('slow');
      return false;
    };
</script>