<div class="modal" id="vendor-type-popup" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="">
          <div class="panel-default">
            <div class="panel-body">
              <div class="">
                <div class="row">
                  <div class="col">
                    <div id="vendorform">
                      <%= render "vendors/vendor_type" %>
                      <%#= render "vendors/legals" %>
                      <%#= render "vendors/expertise" %>
                      <%#= render "vendors/capacity" %>
                      <%#= render "vendors/projects" %>
                      <%#= render "vendors/employment" %>
                      <%#= render "vendors/educations" %>
                      <!-- <fieldset>
                        <h7>Your data has been saved!</h7>
                        <h5>You are now a Vendor!</h5>
                        <input type="button" name="submit" class="action-button btn-primary btn" data-dismiss="modal" value="Vendor Dashboard"/ style="width:150px;">
                      </fieldset> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>