:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

/*html,
body {
  height: 100%;
  font-size: 15px;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fdf9f9;
  font-family: 'Roboto', 'sans-sarif';
}*/

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  /*padding: 15px;*/
  margin: 0 auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #333;
  outline: 0;
  box-shadow: 0 0 0 .2rem #656565;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.openidcontainer{
  border-top: 1px solid #d5d5d5;
  clear: both;
  text-align: center;
  margin: 0px auto;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
}

.ortext{
  background: none repeat scroll 0 0 #fdf9f9;
  color: #333;
  font-size: 15px;
  font-weight: normal;
  padding: 0px 5px;
  height: 0px;
  text-transform: uppercase;
  margin-top: 10px;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn {
    background-color: #ffd200; /* yellow */
    border: 2px solid #333;
    color: #656565;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn:hover {
  background-color: #333;
}

.justify-content-md-right {
    justify-content:flex-end;
}

.navbar{padding: 0.0rem 1rem;}